html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* .ro{
  background:linear-gradient(to left,  rgb(0, 153, 255) ,lightpink,yellow
}
.vo{
  background-color:lightcyan;
    text-decoration-style: initial;
} */
.imy{
  float: right;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  height: 60px;
  background-color: #00b4d8;
}
header img {
  width: 80px;
}
.ro{
  color: black;
  background:linear-gradient(to left, rgb(0, 132, 255) ,lightpink,yellow)
 
}
.center{
  margin-left: center;
  margin-right:center;
  color: black;
 
}
table{
  text-align: center;
  border-radius: 3px;
  color: #00b4d8;
  padding: 10px;
 margin-right: 400px;
 
}

.nav-container {
  float: right;
  top: 5px;
}
.vo{
  background-color:lightcyan;
    text-decoration-style: initial;
}
.nav-container ul {
  margin: 0;
}

.nav-container ul li {
  display: inline-block;
  top: 2px;
}

.nav-container ul li a {
  color: #caffbf;
  text-decoration: none;
  position: relative;
  top: 1px;
  right: 120px;
  margin: 0px 4px 0px 15px;
  padding: 0px 4px 5px 7px;
  height: 14px;
}

.nav-container ul li a:hover {
  color: black;
  transition: 0.25s ease-in;
}

.active {
  border-bottom: 1px solid #caffbf;
}

#container-bg {
  background: url(./img2.jpg) no repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.imo {
  margin: 350px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00b4d8;
  color: white;
  text-align: center;
  padding: 6px;
}

.mi {
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to left, blue, rgb(251, 255, 0), lightblue);
  margin: 800px 10px 6px 10px;
}
.uo{
  color: rgb(0, 89, 255);
  font-size: 19px;
  text-align: right;
}

.do{
  color: black;
  
  font-size: 20px;
  text-align: center;
}
.po{
  float: right;
  font-size: 20px;
  color: black;
  height: 200px;
 margin: 0px 30px 4px 30px;
  animation-name: blue-to-white;
  animation-duration:1s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-direction: alternate-reverse;
}

.pa {
  
  color: rgb(0, 102, 255);
  font: size 22px;
  margin-top: 100px;
 
  animation-name: white-to-orange;
        animation-duration:1s;
        animation-timing-function: linear;
        animation-delay: 2s;
        animation-direction: alternate-reverse;
}


@keyframes  blue-to-white {
  0% {
    background: white;
    transform: translate(0px,0px);
}
30%{
  background: darkcyan;
  transform: translate(10px,10px);
}
100% {
  background:snow;
  transform: translate(20px,20px);
}







